*{
   padding: 0;
   margin: 0;
}


body{
    display: flex;
    flex-direction: column;
}
.top-main-container{
    background-color: #1f2937;
    flex: 1 ;
    padding: 32px 128px;
}


.header-container, .hero-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-container{
    padding-top: 64px;
    padding-bottom: 64px;
}

.header-logo{
    font-size: 24px;
    color: #F9FAF8;
    font-weight:bolder;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

a{
    text-decoration: none;
}

.secondary-text{
    font-size: 18px;
}

a, .secondary-text, .hero-main-text, button, .empty-image-container{
    color: #E5E7EB;
}

.call-to-action-header-container{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 400px;
    gap: 5px;
}

.empty-image-container{
    display: flex;
    width: 600px;
    height: 250px;
    background-color: rgb(121, 120, 120);
    font-size: large;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.hero-main-text{
    font-size: 48px;
    font-weight: bolder;
}


#button-no-border, #button-with-border{
    background-color: #3882F6;
    padding: 8px 32px;
    font-weight: bolder;
    border-radius: 10px;
    font-size: 18px;
}

#button-with-border{
    border: 2px solid white;
}

.random-information-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 64px 128px;
    gap: 15px;
}
.examples-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.image-container{
    width: 100%;
    height: 100%;
    border: 5px solid #3882F6;
    border-radius: 15px;
}

.example{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 250px;
    gap: 15px;
    width: 170px;
}

.random-text{
    color: rgb(121, 120, 120);
    font-size: 20px;
    text-align: justify;
    text-align-last:center
}

.information-header{
    font-size: 36px;
    font-weight: bolder ;
    color: #1f2937;
}

.inspiring-container{
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    padding: 128px 64px;
}

.inspiring-container > div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 800px;
}

.inspiring-text{
    font-size: 36px;
    font-style:italic;
    font-weight: 300;
}

.inspiring-author{
    align-self: end;
    padding-right: 36px;
    font-weight: bold;
    font-size: 24px;
}

.call-to-action-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 128px 200px ;
}

.call-to-action-container > div{
    display: flex;
    gap: 10px;
    background-color: #3882F6;
    padding: 64px 128px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    border-radius: 10px;
}

.call-to-action-text{
    font-size: 24px;
    color: #E5E7EB;
    font-weight: bolder;
}