*{
   padding: 0;
   margin: 0;
}


body{
    display: flex;
    flex-direction: column;
}
.top-main-container{
    background-color: #1f2937;
    flex: 1 ;
    padding: 32px 128px;
}



.header-container, .hero-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-container{
    padding-top: 64px;
    padding-bottom: 64px;
}

.header-logo{
    font-size: 24px;
    color: #F9FAF8;
    font-weight:bolder;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

a{
    text-decoration: none;
}

.hero-secondary-text{
    font-size: 18px;
}

a, .hero-secondary-text, .hero-main-text, button, .image-container{
    color: #E5E7EB;
}

.call-to-action-container{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 400px;
    gap: 5px;
}

.image-container{
    display: flex;
    width: 600px;
    height: 250px;
    background-color: rgb(121, 120, 120);
    font-size: large;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.hero-main-text{
    font-size: 48px;
    font-weight: bolder;
}


#button-no-border{
    background-color: #3882F6;
    padding: 8px 32px;
    font-weight: bolder;
    border-radius: 10px;
    font-size: 18px;
}